{% extends "base.html" %}

{% block content %}

Feedback<BR>

{% if cat_test_item.correct == 1 %}

  Correct!<BR>

{% else %}

  Wrong!<BR>

{% endif %}

Time taken: {{cat_test_item.time_taken}}<BR>

Your response was:

{{response|safe|escape}}

<BR>

The answer was:

{{answer|safe|escape}}

<BR>

{% if user_cat_test.in_a_row > 1 %}

{{user_cat_test.in_a_row}} in a row!<BR>
 
{% endif %} 
 
{% if user_cat_test.ability != -10 %}

Ability: {{ user_cat_test.ability|floatformat:3 }}

{% else %}

No ability estimate available yet...<BR>

{% endif %}

{% if end_test == 1 %}
  <A href="/end/">End</A>
{% else %}  
  <A href="/question/">Next</A>
{% endif %}

{% endblock %}